# Python
__pycache__/
*.pyc
.rigenv/
.env

#data
data/raw/ifc/
data/raw/ifcjson/
data/processed/rag/index.faiss

# Neo4j
neo4j/data/
neo4j/plugins/
neo4j/import/

# OS / misc
.DS_Store

# Frontend
ui/node_modules/
